doctype html
include navbar.pug
html(lang="es")
  head
    meta(charset="UTF-8")
    title Habitaciones
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css")
  body
    +navbar
    .container.mt-5
      h2.text-center.mb-4 Habitaciones

      a.btn.btn-primary.mb-3(href="/admin/habitaciones/nuevo")
        i.bi.bi-plus-circle-fill.me-1
        | Nueva Habitación

      if habitaciones.length > 0
        table.table.table-hover.shadow-sm
          thead.table-light
            tr
              th ID
              th Número
              th Unidad
              th Cant. Camas
              th Acciones
          tbody
            each hab in habitaciones
              tr
                td= hab.idHabitacion
                td= hab.numero
                td= hab.unidad ? hab.unidad.nombre : 'Sin unidad'
                td= hab.camas.length
                td
                  a.btn.btn-sm.btn-warning.me-2(href=`/admin/habitaciones/editar/${hab.idHabitacion}`)
                    i.bi.bi-pencil-fill
                  a.btn.btn-sm.btn-danger(href=`/admin/habitaciones/eliminar/${hab.idHabitacion}`)
                    i.bi.bi-trash-fill
      else
        p.text-muted.text-center No hay habitaciones cargadas.
